.youtube_player {
	flex: 0 0 200px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--light);

	@media (max-width: 480px) {
		width: 280px;
	}

	&__container {
		background-color: var(--dark_2);
		flex-grow: 1;
	}

	&__controls {
		display: flex;
	}

	&__input {
		flex-grow: 1;
		outline: none;
		font-weight: 500;
		padding: 0.2rem 0.5rem;
	}

	&__button {
		min-width: 12%;
		cursor: pointer;

		@media (max-width: 480px) {
			min-width: 8%;
		}
	}
}