<section class="chat">
	<div class="chat__messages">
		<p class="chat__message">Сообщение 1</p>
		<p class="chat__message">Сообщение 2</p>
	</div>
	<input class="chat__input" type="text" placeholder="Написать сообщение...">
</section>