<% if local_assigns[:height].present? %>
	<section class="youtube_player" data-controller="youtube-player" style="height: <%= height %>;">
<% else %>
	<section class="youtube_player" data-controller="youtube-player">
<% end %>
  <div class="youtube_player__container"></div>
	<div class="youtube_player__controls">
		<input class="youtube_player__input" type="text" placeholder="Введите ссылку">
		<button class="youtube_player__button player_button__clear">&times;</button>
		<button class="youtube_player__button player_button__send">Send</button>
	</div>
</section>