<section class="youtube_player" data-controller="youtube_player">
  <div class="youtube_player__container"></div>
	<div class="youtube_player__controls">
		<input type="text" placeholder="Введите ссылку">
		<button class="youtube_player__button">Загрузить</button>
	</div>
</section>