<ul class="navigation__list" data-controller="navigation">
	<li class="navigation__close">&times;</li>
	<li><%= link_to "Главная", root_path, class: "navigation__link" %></li>
	<li><%= link_to "Рейтинг", rating_path, class: "navigation__link" %></li>
	<li class="navigation__nested_menu">
		<span class="navigation__link">Совместная</span>
		<div>
			<%= link_to "Новая", games_path, class: "navigation__link", data: {turbo_method: :post}  %>
			<%= link_to "Созданная", games_path, class: "navigation__link" %>
		</div>
	</li>
</ul>