<aside class="left_sidebar">
	<nav class="navigation">
		<%= render partial: "shared/navigation" %>
	</nav>
	<%= render partial: "shared/footer" %>
</aside>

<main class="home">
</main>

<%= render partial: "shared/header" %>

