<aside class="left_sidebar">
	<nav class="navigation">
		<%= render partial: "navigation" %>
	</nav>
	<%= render partial: "shared/footer" %>
</aside>

<main class="home">
</main>

<aside class="right_sidebar">
	<%= render partial: "shared/header" %>
</aside>

