<turbo-stream action="replace" target="game_coords">
  <template>
    <meta data-game-coords="<%= coords.as_json %>" id="game_coords">
  </template>
</turbo-stream>

<turbo-stream action="update" target="game_options">
  <template>
		<% set_of_streets.each do |street| %>
			<li><%= street %></li>
		<% end %>
  </template>
</turbo-stream>