<turbo-stream action="replace" target="game_coords">
  <template>
    <meta data-game-coords="test-test">
  </template>
</turbo-stream>

<turbo-stream action="replace" target="game_options">
  <template>
    <ul class="game__options">
			<li>test-test</li>
		</ul>
  </template>
</turbo-stream>