<%= render partial: "shared/left_sidebar" %>

<main class="games">
	<section class="games__content">
		<ul class="games__list" id="games_list">
			<% @lessons.each do |lesson| %>
				<li class="games__info_card"%>
					<%= link_to lesson.name, create_lesson_games_path(lesson_id: lesson.id), data: {turbo_method: :post},  class: "button_regular" %>
				</li>
			<% end %>
		</ul>
	</section>
</main>

<%= render partial: "shared/right_sidebar" %>

