.rating {
	flex-grow: 1;
	border-left: 1px solid var(--light);
	border-right: 1px solid var(--light);
	padding: 0 2rem;
	overflow-y: auto;

	&__title {
		color: var(--light);
		padding: 0.5rem 1rem 0.7rem 1rem;
		text-align: center;
	}

	&__content {
		color: var(--light);

		table {
			width: 100%;
			border-collapse: collapse;
			text-align: center;
		}

		thead {
			font-size: 1.3rem;
			line-height: 4rem;
		}

		tbody {
			font-size: 1.2rem;
		}

		td {
			border: 1px solid var(--light);
			line-height: 4rem;
		}
	}
}