<turbo-stream action="append" target="chat_<%= game.id %>">
	<template>
		<p class="chat__message">
			<span class="chat__author" style="background-color: <%= chat_message.author_color %>;"><%= chat_message.author %></span>
			<span><%= sanitize(chat_message.message) %></span>
		</p>
	</template>
</turbo-stream>