<turbo-stream action="replace" target="game_coords">
  <template>
    <meta data-game-coords="<%= game.current_coordinates.as_json %>" id="game_coords">
  </template>
</turbo-stream>

<turbo-stream action="update" target="game_options">
  <template>
		<% game.current_streets.each do |street| %>
			<li class="game__option"><%= street %></li>
		<% end %>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="game_current_step">
  <template>
		<p id="game_current_step">вопрос <span><%= game.current_step %></span> из <span><%= game.steps %></span></p>
  </template>
</turbo-stream>