<turbo-stream action="update" target="players_quantity_game_<%= game.id %>">
  <template>
		<div id="players_quantity_game_<%= game.id %>">Количество участников: <%= game.users.count %></div>
  </template>
</turbo-stream>


