body {
	position: relative;
	background-color: var(--dark);
	font-family: "Noto Sans", serif;
	min-height: 100vh;
	display: flex;
	border-bottom: 1px solid var(--light);
}

@media (max-width: 768px) {
	li {
		font-size: 1.2rem;
	}
}

@media (max-width: 480px) {
	li {
		word-break: break-all;
		overflow-wrap: anywhere;
	}

	button,
	input {
		word-break: normal;
		overflow-wrap: normal;
	}
}