// media
$mobile: 480px;
$tablet: 768px;
$small_screen: 950px;

:root {
	// colors
	--light: #fff;
	--dark: #16141c;
	--dark_2: #1c1633;
	--gray: #292733;
	--gray_2: #47464d;
	--shadow: rgba(0, 0, 0, 0.2);
	--green: #268462;
	--blue: #00bcd4;
	--yellow: #d6f21e;
	--orange: #8d5e0e;
	--violet: #9d1ef2;

	// vars
	--border_radius: 0.5rem;

	// media
	--tablet: 768px;
}


[data-theme="light"] {}


[data-theme="dark"] {}